<div class="page_tag">会议纪要</div>
<form class="pc_show" nz-form [formGroup]="searchFormGroup" (ngSubmit)="onSearch()">
  <nz-form-item>
    <nz-form-label nzSpan="1">名称</nz-form-label>
    <nz-form-control nzSpan="6">
        <input type="text" nz-input formControlName="name" placeholder="纪要名称">
    </nz-form-control>
    <nz-form-label nzSpan="2">会议日期</nz-form-label>
    <nz-form-control nzSpan="4">
      <nz-date-picker formControlName="startDate"  nzPlaceHolder="开始日期"></nz-date-picker>
    </nz-form-control>
    <nz-form-control nzSpan="4">
      <nz-date-picker formControlName="endDate"  nzPlaceHolder="结束日期"></nz-date-picker>
    </nz-form-control>
    <nz-form-control nzSpan="3">
      <button nz-button type="submit" nzType="primary" nzShape="circle" style="margin-left:10px;"><i nz-icon type="search"></i></button>
      <button nz-button type="button" nzType="primary" nzShape="circle" style="margin-left:10px;" (click)="onUpload()" *ngIf="perSum()"><i nz-icon type="upload"></i></button>
    </nz-form-control>
  </nz-form-item>
</form>
<form class="mobile_show" nz-form [formGroup]="fuzzySearchFormGroup"  (ngSubmit)="onFuzzySearch()">
  <nz-form-item>
    <nz-form-control nzSpan="16">
      <input  nz-input formControlName="keys"  placeholder="查询内容">
    </nz-form-control>
    <nz-form-control nzOffset="1" nzSpan="2">
      <button nz-button type="submit" nzType="primary" nzShape="circle"><i nz-icon type="search"></i></button>
    </nz-form-control>
    <nz-form-control nzOffset="1" nzSpan="2" *ngIf="perSum()">
      <button nz-button type="button" nzType="primary" nzShape="circle" class="upload" (click)="onUpload()">
        <i nz-icon type="upload"></i>
      </button>
    </nz-form-control> 
  </nz-form-item>
</form>
<input type="file" ng2FileSelect [uploader]="uploader" hidden="true" class="reg-upload" (change)="selectFileChange($event)" />
  
<nz-table class="pc_show" #basicTable [nzData]="summaries" [nzShowSizeChanger]="true">
  <thead>
    <tr>
      <th>序号</th>
      <th>纪要名称</th>
      <th>会议日期</th>
      <th>操作人</th>
      <th>操作时间</th>          
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data index as i">
      <td>{{i+1}}</td>
      <td>
        <a [routerLink]="['../summarydetail']" 
           [queryParams]="{name: data.name, date: data.meetingDate}">
              {{data.name}}
        </a>
      </td>
      <td>{{data.meetingDate | date:'yyyy-MM-dd' }}</td>
      <td>{{data.operatorName}}</td>
      <td>{{data.operateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
      <td>           
        <a (click)="onDownload(data.name)">下载</a>
        <nz-divider nzType="vertical" *ngIf="perSum()"></nz-divider>
        <a (click)="onDelete(data)" *ngIf="perSum()">删除</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<div class="mobile_show" *ngFor="let data of summaries; let i=index" style="margin-bottom: 10px; background: #ECECEC;">
  <nz-card  style="width:100%;" 
    [nzTitle]="cardTitle(i, data)" 
    [nzExtra]="extraTemplate" 
    [routerLink]="['../summarydetail']" 
    [queryParams]="{name: data.name, date: data.meetingDate}">
    <p><strong>会议日期：</strong>{{data.meetingDate | date:'yyyy-MM-dd'}}</p>
    <p><strong>操 作 人：</strong>{{data.operatorName}}</p>
    <p><strong>操作时间：</strong>{{data.operateTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
  </nz-card>
  <ng-template #extraTemplate>
    <a (click)="$event.stopPropagation(); onDownload(data.name)">下载</a>
    <nz-divider nzType="vertical"></nz-divider>
    <a (click)="$event.stopPropagation(); onDelete(data)">删除</a>
  </ng-template>
</div>

<nz-modal [nzVisible]="bShowUplodModal" nzTitle="上传会议纪要" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="nzOnCancel()">
    <ng-template #modalContent>
      <form nz-form [formGroup]="uploadFormGroup" >
        <nz-form-item>
          <nz-form-label>纪要名称</nz-form-label>
          <nz-form-control>
            <nz-form-text>{{uploader.queue[0]?.file?.name}}</nz-form-text>
          </nz-form-control>
        </nz-form-item>
  
        <nz-form-item>
          <nz-form-label>会议日期</nz-form-label>
          <nz-form-control>
              <nz-date-picker formControlName="meetingDate"  nzPlaceHolder="会议日期" ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
    
      </form>
    
      <div>
          <nz-progress [nzPercent]="uploadProg" nzStatus="active" [hidden]="!uploader.isUploading"></nz-progress> 
      </div>
    </ng-template>
  
    <ng-template #modalFooter>
      <button nz-button type="button" nzType="default" (click)="nzOnCancel()">取消</button>
      <button nz-button type="submit" nzType="primary" [disabled]="bHasClicked" (click)="nzOnOk()">确定</button>
    </ng-template>
</nz-modal>
  