
<form nz-form [formGroup]="userAddFormGroup">
  <div nz-row>
    <div nz-col [nzOffset]="4" [nzSpan]="7">
        <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="userlName" nzRequired>用户名</nz-form-label>
            <nz-form-control [nzSpan]="18" >
              <input type="text" nz-input  formControlName="userName"  placeholder="用户名" tabindex="1">
            </nz-form-control>
        </nz-form-item>
              
              <nz-form-item>
                  <nz-form-label [nzSpan]="6" nzFor="tel" nzRequired>手&nbsp;&nbsp;&nbsp;机</nz-form-label>
                  <nz-form-control  [nzSpan]="18" >
                    <input nz-input type="tel" formControlName="tel" tabindex="3">
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="email" nzRequired>邮&nbsp;&nbsp;&nbsp;箱</nz-form-label>
                    <nz-form-control [nzSpan]="18" >
                      <input nz-input type="email" formControlName="email" tabindex="4">
                    </nz-form-control>
            </nz-form-item>
      </div>
    <div nz-col [nzOffset]="2" [nzSpan]="7">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="realName" nzRequired>姓名</nz-form-label>
        <nz-form-control  [nzSpan]="18" >
          <input nz-input type="text" formControlName="realName" placeholder="真实姓名" tabindex="5">
        </nz-form-control>
      </nz-form-item> 
      <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="department" nzRequired>部门</nz-form-label>
      <nz-form-control  [nzSpan]="18" >
        <nz-select formControlName="department"  nzAllowClear nzPlaceHolder="请选择" tabindex="6">
          <nz-option *ngFor="let option of departments" [nzValue]= "option" [nzLabel]= "option"></nz-option> 
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
    <nz-form-label  [nzSpan]="6">状态</nz-form-label>
    <nz-form-control>
     <nz-radio-group formControlName="state" nzName="stateradiogroup" > 
        <label nz-radio nzValue="有效" tabindex="9">有效</label>
        <label nz-radio nzValue="禁用" tabindex="10">禁用</label>
      </nz-radio-group>
    </nz-form-control>
</nz-form-item>
</div>
</div>
 <br> 
  <nz-form-item>
      <nz-form-control [nzOffset]="10" [nzSpan]="3">
        <button nz-button nzType="default" (click)="onCancel()" tabindex="12"><i nz-icon type="left"></i>返回</button>
      </nz-form-control> 
      <nz-form-control [nzSpan]="3">
        <button nz-button nzType="primary" (click)="onSubmit()" tabindex="11"><i nz-icon type="check"></i>确定</button>
    </nz-form-control>
  </nz-form-item>

</form>
<nz-table #useradd [nzData]="users">
  <thead >
    <tr>
      <th class="consoleTableHead">序号</th>
      <th class="consoleTableHead">用户名</th>
      <th class="consoleTableHead">姓名</th>
      <th class="consoleTableHead">部门</th>
      <th class="consoleTableHead">手机</th>
      <th class="consoleTableHead">邮箱</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of useradd.data index as i">
      <td>{{i+1}}</td>
      <td>{{user.userName}}</td>
      <td>{{user.realName}}</td>
      <td>{{user.department}}</td>
      <td>{{user.tel}}</td>
      <td>{{user.email}}</td>
    </tr>
  </tbody>
</nz-table> 

<div class="testcss">
  <p>test global css</p>
</div>
