
<form nz-form>
  <nz-form-item>
    <nz-form-label [nzSpan]="6">用户名</nz-form-label>
    <nz-form-control nz-col col="18">
      <input nz-input type="text" placeholder="用户名" style="float:left"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control col="6">
      <nz-form-label>真实姓名</nz-form-label>
      <input nz-input type="text"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control col="6">
      <nz-form-label>密码</nz-form-label>
      <input nz-input type="password"/>
    </nz-form-control>
  </nz-form-item>
  
  <nz-form-item>
    <nz-form-control>
      <nz-form-label>电话</nz-form-label>
      <input nz-input type="tel"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-form-label>email</nz-form-label>
      <input nz-input type="email"/>
    </nz-form-control>
  </nz-form-item>
    
</form>
