<div class="pageTag">合同模版</div>
<form nz-form [formGroup]="searchFormGroup" [nzLayout] ="'inline'" (ngSubmit)="onSearch()">
 
    <nz-form-item> 
      <nz-form-label>模版名称</nz-form-label>
      <nz-form-control>
        <input  nz-input formControlName="name" style="width:200px;" >
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label>发布日期</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="startDate"  nzPlaceHolder="开始日期"></nz-date-picker>
          <span>~</span>
          <nz-date-picker formControlName="endDate" nzPlaceHolder="结束日期"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>状态</nz-form-label>     
      <nz-form-control>
      <nz-select formControlName="state" style="width: 80px;"  nzPlaceHolder="状态"
        nz-popover nzContent="状态">
        <nz-option *ngFor="let option of states" [nzValue]= "option" [nzLabel]= "option"></nz-option> 
      </nz-select>
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-control>
        <button nz-button type="submit" nzType="primary" nzShape="circle"><i nz-icon type="search"></i></button>
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-control>
        <button nz-button type="button" nzType="primary" nzShape="circle" style="margin-left: 5px;" (click)="onUpload()"><i nz-icon type="upload"></i></button>
        <input type="file" ng2FileSelect [uploader]="uploader" hidden="true" class="reg-upload" (change)="selectFileChange($event)" />
      </nz-form-control>
    </nz-form-item>
</form>
  <br>  
    
<nz-table #basicTable [nzData]="contracts" [nzShowSizeChanger]="true">
  <thead>
    <tr>
      <th class="theadbg">序号</th>
      <th class="theadbg">模版名称</th>
      <th class="theadbg">发布日期</th>
      <th class="theadbg">状态</th>
      <th class="theadbg">操作人</th>
      <th class="theadbg">操作时间</th>
      <th class="theadbg">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data index as i">
      <td>{{i+1}}</td>
      <td><a [routerLink]="['../contracttemplatedetail']" 
              [queryParams]="{name: data.name, date: data.issueDate, fromUrl: 'console'}">
            {{data.name}}
          </a>
        </td>
      <td>{{data.issueDate | date:'yyyy-MM-dd' }}</td>
      <td>{{data.state}}</td>
      <td>{{data.operatorName}}</td>
      <td>{{data.operateTime}}</td>
      <td>
        <a *ngIf="data.state == '作废'" (click)="onActive(data)">生效</a>
        <a *ngIf="data.state == '有效'" (click)="onAbate(data)">作废</a>
       </td>
    </tr>
  </tbody>
</nz-table>
  
<nz-modal [nzVisible]="bShowUplodModal" nzTitle="上传合同模版" 
      [nzContent]="poliContent" [nzFooter]="modalFooter" (nzOnCancel)="nzOnCancel()">
  <ng-template #poliContent>
    <form nz-form [formGroup]="uploadFormGroup">
      <nz-form-item>
        <nz-form-label [nzSpan]="4">模版名称</nz-form-label>       
        <nz-form-control>
          <nz-form-text style="text-align:center;">{{uploader?.queue[0]?.file?.name}}</nz-form-text>
        </nz-form-control>
      </nz-form-item>
       
      <nz-form-item>  
        <nz-form-label [nzSpan]="4">发布日期</nz-form-label>
        <nz-form-control>
            <nz-date-picker formControlName="issueDate" ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
   </form>
  </ng-template>

  <ng-template #modalFooter>
      <button nz-button type="button" nzType="default" (click)="nzOnCancel()">取消</button>
      <button nz-button type="submit" nzType="primary" [disabled]="bHasClicked" (click)="nzOnOk()">确定</button>
  </ng-template>
</nz-modal>
    
    
  
    
  