<div class="pageTag">规章制度</div>
<div nz-row>
  <div nz-col nzSpan="7"><b>文件名称：</b>{{reg.name}}</div>
  <div nz-col nzSpan="4"><b>发文部门：</b>{{reg.departmentName}}</div>
  <div nz-col nzSpan="4"><b>发文日期：</b>{{reg.issueDate | date:'yyyy-MM-dd'}}</div>
  <div nz-col nzSpan="3"><b>状态：</b>{{reg.state}}</div>
  <div nz-col nzSpan="2">
    <button nz-button nzType="default" disabled ='onPrint()'>打印</button>
  </div>
  <div nz-col nzSpan="2">   
    <button nz-button nzType="default" (click)="onSave()">保存</button>

  </div> 
  <div nz-col nzSpan="2"> 
    <a routerLink="../regulation"><button nz-button nzType="primary">返回</button></a>
  </div>
</div>

<hr>
<div style="margin-bottom: 30px;" *ngIf="docType=='application/pdf'">
  <pdf-viewer [src]="pdfUrl"  [render-text]="true"
  style="display: block;"></pdf-viewer>
</div>
<div style="margin-bottom: 30px;" *ngIf="docType=='image/jpeg'">
  <img [src]="safeUrl" style="width:100%;" >
</div>

