<div class="page_tag">会议纪要</div>
<form nz-form [formGroup]="searchFormGroup" [nzLayout] ="'inline'" (ngSubmit)="onSearch()">
  <nz-form-item> 
    <nz-form-label>纪要名称</nz-form-label>
    <nz-form-control>
      <input  nz-input formControlName="name" style="width:200px;" placeholder="纪要名称">
    </nz-form-control>
  </nz-form-item>
   
  <nz-form-item>
    <nz-form-label>会议日期</nz-form-label>
    <nz-form-control>
      <nz-date-picker  nzPlaceHolder="开始日期" formControlName="startDate" [nzFormat]="'yyyy-MM-dd'" style="width:120px;"></nz-date-picker>
      <span>~</span>
      <nz-date-picker nzPlaceHolder="结束日期" formControlName="endDate" [nzFormat]="'yyyy-MM-dd'" style="width:120px;" ></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  
  <nz-form-item>
    <nz-form-control>
      <button nz-button type="submit" nzType="primary" nzShape="circle"><i nz-icon type="search"></i></button>
    </nz-form-control>
  </nz-form-item>
  
  <nz-form-item>
    <nz-form-control>
      <button nz-button type="button" nzType="primary" nzShape="circle" style="margin-left: 5px;" (click)="onUpload()"><i nz-icon type="upload"></i></button>
      <input type="file" ng2FileSelect [uploader]="uploader" hidden="true" class="reg-upload" (change)="selectFileChange($event)" />
    </nz-form-control>
  </nz-form-item>
</form>
<br>  
    
<nz-table #basicTable [nzData]="summaries" [nzShowSizeChanger]="true"
  [nzWidthConfig]="['120px','300px','120px','120px', '180px', null]">
  <thead>
    <tr>
      <th class="theadbg">序号</th>
      <th class="theadbg">纪要名称</th>
      <th class="theadbg">会议日期</th>
      <th class="theadbg">操作人</th>
      <th class="theadbg">操作时间</th>
      <th class="theadbg">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data index as i">
      <td>{{i+1}}</td>
      <td><a [routerLink]="['../summarydetail']" 
             [queryParams]="{name: data.name, date: data.meetingDate, fromUrl: 'console'}">
                 {{data.name}}
          </a>
      </td>
      <td>{{data.meetingDate | date:'yyyy-MM-dd' }}</td>
      <td>{{data.operatorName}}</td>
      <td>{{data.operateTime}}</td>
      <td>
        <a (click)="onDelete(data)">删除</a>
      </td>
          </tr>
        </tbody>
</nz-table>
  
<nz-modal [nzVisible]="bShowUplodModal" nzTitle="上传会议纪要" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="nzOnCancel()">
  <ng-template #modalContent>
    <form nz-form [formGroup]="uploadFormGroup" >
      <nz-form-item>
        <nz-form-label>纪要名称</nz-form-label>
        <nz-form-control>
          <nz-form-text>{{uploader.queue[0]?.file?.name}}</nz-form-text>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>会议日期</nz-form-label>
        <nz-form-control>
            <nz-date-picker formControlName="meetingDate"  nzPlaceHolder="会议日期" ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
  
    </form>
  
    <div>
        <nz-progress [nzPercent]="uploadProg" nzStatus="active" [hidden]="!uploader.isUploading"></nz-progress> 
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button type="button" nzType="default" (click)="nzOnCancel()">取消</button>
    <button nz-button type="submit" nzType="primary" [disabled]="bHasClicked" (click)="nzOnOk()">确定</button>
  </ng-template>
</nz-modal>
    
    
  
    
  