<nz-layout>
  <nz-header>
        <div class="logo"></div>
        <ul nz-menu  [nzTheme]="'dark'" [nzMode]="'horizontal'" class="menu">
          <li nz-menu-item><a routerLink="./home">首页</a></li>
          <li nz-menu-item><a routerLink="./console">控制台</a></li>
          <li nz-submenu style="float:right;">
            <span title><i nz-icon type="user"></i>{{user}}</span>
            <ul>
              <li nz-menu-item (click)="onModifyPasswd()">修改密码</li>
              <li nz-menu-item (click)="onLogout()">退出</li>
            </ul>
          </li> 
        </ul>
  </nz-header>  
  <div style="width: 100%;">
    <router-outlet></router-outlet>
  </div>  
  <div style="width: 100%; height:10%;">
      <nz-footer class="footer" >Copyright © 2019 Kingsun Internet Of Things Technology Co.,Ltd. All Rights Reserved. </nz-footer>  
  </div>
</nz-layout>

<nz-modal [nzVisible]="bShowPasswdModal" nzTitle="修改密码" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="nzOnCancel()">
  <ng-template #modalContent>
    <form nz-form [formGroup]="passwdFormGroup" >
      <nz-form-item>
        <nz-form-label nzSpan="8">原密码</nz-form-label>
        <nz-form-control nzSpan="16">
          <input nz-input type="password" formControlName="oldp" style="width:175px; ">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item formGroupName="newPasswd">
        <nz-form-label nzSpan='8'>新密码</nz-form-label>
        <nz-form-control nzSpan='16'>
          <input nz-input type="password" formControlName="newp" style="width:175px; ">
        </nz-form-control>
        <nz-form-label nzSpan='8'>确认密码</nz-form-label>
        <nz-form-control nzSpan='16'>
          <input nz-input type="password" formControlName="confirm" style="width:175px; ">
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
  <ng-template #modalFooter>
     <button nz-button type="button" nzType="default" (click)="nzOnCancel()">取消</button>
     <button nz-button type="submit" nzType="primary" [disabled]="processing" (click)="onOk()">确定</button>
  </ng-template>
</nz-modal>


