<nz-layout>
  <nz-header>
        <div class="logo"></div>
        <ul nz-menu  [nzTheme]="'dark'" [nzMode]="'horizontal'" class="menu">
          <li nz-submenu style="float:right;">
            
            <span title > <i nz-icon type="user"></i> <span class="pc_show">{{user.name}}</span> </span>
            <ul>
              <li nz-menu-item >{{user.name}}</li>
              <li nz-menu-item (click)="onModifyPasswd()">修改密码</li>
              <li nz-menu-item (click)="onLogout()">退出</li>
            </ul>
          </li> 
          <li nz-submenu class="mobile-func-menu">
            <span title>
              <i nz-icon type="ordered-list" theme="outline"></i>
            </span>
            <ul class="mobile_show">
              <li nz-menu-item><a routerLink="./home/shareinfo"><i nz-icon type="message" theme="twotone"></i>信息共享</a></li>
              <li nz-menu-item><a routerLink="./home/regulation"><i nz-icon type="profile" theme="twotone"></i>规章制度</a></li>
              <li nz-menu-item><a routerLink="./home/summary"><i nz-icon type="file-pdf" theme="twotone"></i>会议纪要</a></li>
              <li nz-menu-item><a routerLink="./home/partnerdoc"><i nz-icon type="folder-open" theme="twotone"></i>伙伴资料</a></li>
              <li nz-menu-item><a routerLink="./home/policy"><i nz-icon type="database" theme="twotone"></i>行业政策</a></li>
              <li nz-menu-item><a routerLink="./home/contracttemplate"><i nz-icon type="copy" theme="twotone"></i>合同模版</a></li>
              <li nz-menu-item *ngIf="perCwCr()"><a routerLink="./home/contract"><i nz-icon type="copy" theme="twotone"></i>已签合同</a></li>
              <li nz-menu-item *ngIf="perUsr()"><a routerLink="./home/user"><i nz-icon type="team" ></i>用户管理</a></li>              </ul>
          </li>
          <li nz-menu-item style="float:right;">
              <a routerLink="./home">
                <i nz-icon type="home" theme="outline"></i>
                <span class="pc_show">首页</span>
              </a>
            </li>
        </ul>
  </nz-header>  
  <div style="width: 100%;">
    <router-outlet></router-outlet>
  </div>  
  <div style="width: 100%; height:10%;">
      <nz-footer class="footer" >Copyright © 2019 Kingsun Internet Of Things Technology Co.,Ltd. All Rights Reserved. </nz-footer>  
  </div>
</nz-layout>

<nz-modal [nzVisible]="bShowPasswdModal" nzTitle="修改密码" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="nzOnCancel()">
  <ng-template #modalContent>
    <form nz-form [formGroup]="passwdFormGroup" >
      <nz-form-item>
        <nz-form-label nzSpan="8">原密码</nz-form-label>
        <nz-form-control nzSpan="16">
          <input nz-input type="password" formControlName="oldp" style="width:175px; ">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item formGroupName="newPasswd">
        <nz-form-label nzSpan='8'>新密码</nz-form-label>
        <nz-form-control nzSpan='16'>
          <input nz-input type="password" formControlName="newp" style="width:175px; ">
        </nz-form-control>
        <nz-form-label nzSpan='8'>确认密码</nz-form-label>
        <nz-form-control nzSpan='16'>
          <input nz-input type="password" formControlName="confirm" style="width:175px; ">
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
  <ng-template #modalFooter>
     <button nz-button type="button" nzType="default" (click)="nzOnCancel()">取消</button>
     <button nz-button type="submit" nzType="primary" [disabled]="processing" (click)="onOk()">确定</button>
  </ng-template>
</nz-modal>


