<div class="page_tag">信息共享</div>
<form class="pc_show" nz-form [formGroup]="searchFormGroup"  (ngSubmit)="onSearch()">
    <nz-form-item> 
      <nz-form-label nzSpan="3">文件名称</nz-form-label>
      <nz-form-control nzSpan="6">
        <input  nz-input formControlName="name"  placeholder="文件名称">
      </nz-form-control>

      <nz-form-label nzSpan="2">标签</nz-form-label>
      <nz-form-control nzSpan="6">
        <input  nz-input formControlName="tag"  placeholder="标签名称">
      </nz-form-control>

      <nz-form-control  nzOffset="1" nzSpan="2">
        <button nz-button type="submit" nzType="primary" nzShape="circle"><i nz-icon type="search"></i></button>
      </nz-form-control>

      <nz-form-control  nzSpan="1">
        <button nz-button type="button" nzType="primary" nzShape="circle" class="upload" (click)="onUpload()">
          <i nz-icon type="upload"></i>
        </button>
      </nz-form-control> 
    </nz-form-item>
</form>
<form class="mobile_show" nz-form [formGroup]="fuzzySearchFormGroup"  (ngSubmit)="onFuzzySearch()">
  <nz-form-item>
    <nz-form-control nzSpan="16">
      <input  nz-input formControlName="keys"  placeholder="查询内容">
    </nz-form-control>
    <nz-form-control nzOffset="1" nzSpan="3">
      <button nz-button type="submit" nzType="primary" nzShape="circle"><i nz-icon type="search"></i></button>
    </nz-form-control>
    <nz-form-control nzOffset="1" nzSpan="3">
      <button nz-button type="button" nzType="primary" nzShape="circle" class="upload" (click)="onUpload()">
        <i nz-icon type="upload"></i>
      </button>
    </nz-form-control> 
  </nz-form-item>
</form>

<input type="file" ng2FileSelect [uploader]="uploader" hidden="true" class="reg-upload" (change)="selectFileChange($event)" />

<nz-table class="pc_show" #basicTable [nzData]="infos" [nzShowSizeChanger]="true" >
  <thead>
    <tr>
      <th class="theadbg">序号</th>
      <th class="theadbg">文件名称</th>
      <th class="theadbg">标签</th>
      <th class="theadbg">操作人</th>
      <th class="theadbg">操作时间</th>
      <th class="theadbg">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data index as i">
      <td>{{i+1}}</td>
      <td><a [routerLink]="['../infodetail']" 
              [queryParams]="{name: data.name, tag: data.tag}">
            {{data.name}}
          </a>
        </td>
      <td>{{data.tag}}</td>
      <td>{{data.operatorName}}</td>
      <td>{{data.operateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
      <td>
        <a (click)="onDownload(data)">下载</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="onRefresh(data)">更新</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="onDelete(data)">删除</a>
        </td>
    </tr>
  </tbody>
</nz-table>

<div class="mobile_show" *ngFor="let data of infos; let i=index" style="margin-bottom: 10px; background: #ECECEC;">
  <nz-card  style="width:100%;" 
    [nzTitle]="cardTitle(i, data)" 
    [nzExtra]="extraTemplate" 
    [routerLink]="['../infodetail']" 
    [queryParams]="{name: data.name, tag: data.tag}">
    <p>标签：{{data.tag}}</p>
    <p>操作人：{{data.operatorName}}</p>
    <p>操作时间：{{data.operateTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
  </nz-card>
  <ng-template #extraTemplate>
    <a (click)="onDownload(data)">下载</a>
    <nz-divider nzType="vertical"></nz-divider>
    <a (click)="onDelete(data)">删除</a>
  </ng-template>
</div>

<nz-modal [nzVisible]="bShowUplodModal" nzTitle="上传共享信息" 
      [nzContent]="pdocContent" [nzFooter]="modalFooter" (nzOnCancel)="nzOnCancel()">
  <ng-template #pdocContent>
    <form nz-form [formGroup]="uploadFormGroup">
      <nz-form-item>
        <nz-form-label [nzSpan]="4">名称</nz-form-label>       
        <nz-form-control>
          <nz-form-text style="text-align:center;">{{uploader?.queue[0]?.file?.name}}</nz-form-text>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="4">标签</nz-form-label>
        <nz-form-control >
          <input nz-input type="text" formControlName="tag" style="width:175px; ">
        </nz-form-control>
      </nz-form-item>
       
   </form>
  </ng-template>

  <ng-template #modalFooter>
      <button nz-button type="button" nzType="default" (click)="nzOnCancel()">取消</button>
      <button nz-button type="submit" nzType="primary" [disabled]="bHasClicked" (click)="nzOnOk()">确定</button>
  </ng-template>
</nz-modal>
    
    
  
    
  