<form nz-form [formGroup]="userSearchFormGroup" [nzLayout]="'inline'">
  <nz-form-item>
    <nz-form-label>用户名</nz-form-label>
    <nz-form-control>
        <input  type="text" nz-input formControlName="userName" style="width:120px;" placeholder="用户名">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>所在部门</nz-form-label>
    <nz-form-control>
        <nz-select formControlName="department" style="width: 120px;"  nzAllowClear nzPlaceHolder="请选择" >
         <nz-option *ngFor="let option of Departments" [nzValue]= "option" [nzLabel]= "option"></nz-option> 
        </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
      <nz-form-label>状态</nz-form-label>
    <nz-form-control>
        <nz-select formControlName="state" style="width: 120px;"  nzAllowClear nzPlaceHolder="请选择" >
         <nz-option [nzValue]= "'在职'" [nzLabel]= "'在职'"></nz-option> 
         <nz-option [nzValue]= "'离职'" [nzLabel]= "'在职'"></nz-option> 
        </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
      <button nz-button nzType="primary" nzShape="circle" (click)="onSearch()"><i nz-icon type="search"></i></button>
      <a [routerLink]="['/console/useradd']">
        <button nz-button nzType="primary" nzShape="circle"  style="margin-left:5px;" (click)="onAdd()"><i nz-icon type="plus"></i></button>
      </a>
  </nz-form-item>
</form>

<br>

<nz-table #userTable [nzData]="Users"  [nzShowSizeChanger]="true">
  <thead>
    
    <tr>
        <th class="theadbg">序号</th>
        <th class="theadbg">用户名</th>
        <th class="theadbg">所在部门</th>
        <th class="theadbg">手机</th>
        <th class="theadbg">邮箱</th>
        <th class="theadbg">状态</th>
        <th class="theadbg">操作</th>
    </tr>
  </thead>
    
  <tbody>
      <tr *ngFor="let user of userTable.data index as i">
        <td>{{i+1}}</td>
        <td><a [routerLink]="['/console/user/edit']" [queryParams]="{id: user.userId}">{{user.userName}}</a></td>
        <td>{{user.department}}</td>
        <td>{{user.tel}}</td>
        <td>{{user.email}}</td>
        <td>{{user.state}}</td>
        <td>{{user.state}}</td>
        <a [routerLink]="['/console/user/edit']" [queryParams]="{id: user.userId}">
            <button nz-button nzType="primary">维护</button>
        </a>
         
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="default" (click)="onDel(user.userId)">删除</button>
      </tr>
  </tbody>
</nz-table>


