<nz-layout>
  <nz-sider [nzWidth]="200" style="background:#fff">
    <ul nz-menu [nzMode]="'inline'" style="height:100%;">
      <li nz-menu-item><a href="/portal/console/policy"><i nz-icon type="profile" ></i>行业政策管理</a></li>
      <li nz-menu-item><a href="/portal/console/regulation"><i nz-icon type="profile" ></i>规章制度管理</a></li>
      <li nz-menu-item><a href="/portal/console/summary"><i nz-icon type="file-pdf" ></i>会议纪要管理</a></li>
      <li nz-menu-item><a href="/portal/console/partnerdoc"><i nz-icon type="folder-open" ></i>伙伴资料</a></li>      <li nz-menu-item><a href="/portal/console/user"><i nz-icon type="team" ></i>用户管理</a></li>
      <li nz-menu-item><a href="/portal/console/user"><i nz-icon type="team" ></i>用户管理</a></li>      <li nz-menu-item><a href="/portal/console/user"><i nz-icon type="team" ></i>用户管理</a></li>
    </ul>
  </nz-sider>
  <nz-layout style="padding: 50px 30px 30px">
    <nz-content style="background:#fff; padding: 24px; min-height:500px;">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>

