<nz-layout>
  <nz-sider [nzWidth]="200" style="background:#fff">
    <ul nz-menu [nzMode]="'inline'">
      <li nz-menu-item><a routerLink="./regulation"><i nz-icon type="profile" ></i>规章制度管理</a></li>
      <li nz-menu-item><a routerLink="./summary"><i nz-icon type="file-pdf" ></i>会议纪要管理</a></li>
      <li nz-menu-item><a routerLink="./partnerdoc"><i nz-icon type="folder-open" ></i>伙伴资料管理</a></li>  
      <li nz-menu-item><a routerLink="./policy"><i nz-icon type="profile" ></i>行业政策管理</a></li>
      <li nz-menu-item><a routerLink="./contracttemplate"><i nz-icon type="copy" ></i>合同模版管理</a></li>
      <li nz-menu-item><a routerLink="./user"><i nz-icon type="team" ></i>用户管理</a></li>     
    </ul>
  </nz-sider>
  <nz-layout style="padding: 50px 30px 30px">
    <nz-content style="background:#fff; padding: 24px; min-height:500px;">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>

