<div class="page_tag">已签合同</div>
<div class="mobile_show mobile_detail_btn">   
  <a (click)="onSave()">保存</a>
  <nz-divider nzType="vertical"></nz-divider>
  <a routerLink="../contract">返回</a>
</div>
<div nz-row>
    <div nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="18" nzXl="18" nzXXl="18"><b>名称：</b>{{contract.name}}</div>
    <div nz-col  class="pc_show" nzMd="3" nzLg="3" nzXl="3" nzXXl="3">   
      <a (click)="onSave()">保存</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a routerLink="../contract">返回</a>
    </div>
  </div>
  
  <hr>
  <div style="margin-bottom: 30px;" *ngIf="docType=='application/pdf'">
    <pdf-viewer [src]="pdfUrl"  [render-text]="true" [fit-to-page]="true" style="display: block;"></pdf-viewer>
  </div>
  <div style="margin-bottom: 30px;" *ngIf="docType=='image/jpeg'">
    <img [src]="safeUrl" style="width:100%;" >
  </div>


  