<div class="page_tag">已签合同</div>
<div nz-row>
    <div nz-col nzXs="18" nzSm="18" nzMd="18" nzLg="18" nzXl="18" nzXXl="18"><b>名称：</b>{{contract.name}}</div>

    <div nz-col  nzXs="3" nzSm="3" nzMd="2" nzLg="1" nzXl="1" nzXXl="1">   
      <a (click)="onSave()">保存</a>
  
    </div> 
    <div nz-col nzXs="3" nzSm="3" nzMd="2" nzLg="2" nzXl="2" nzXXl="2"> 
      <a routerLink="../contract">返回</a>
    </div>
  </div>
  
  <hr>
  <div style="margin-bottom: 30px;" *ngIf="docType=='application/pdf'">
    <pdf-viewer [src]="pdfUrl"  [render-text]="true" [fit-to-page]="true" style="display: block;"></pdf-viewer>
  </div>
  <div style="margin-bottom: 30px;" *ngIf="docType=='image/jpeg'">
    <img [src]="safeUrl" style="width:100%;" >
  </div>


  