<nz-layout style="background:#fff">
  <form nz-form [nzLayout] ="'inline'">
    <nz-form-item>
      <nz-form-label>文件名称：</nz-form-label>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixUser">
          <input  nz-input [(ngModel)]="fileName" name="filename" style="width:120px;" placeholder="文件名称">
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label>发文部门：</nz-form-label>
      <nz-form-control>
          <nz-select style="width: 120px;"  nzAllowClear nzPlaceHolder="请选择" >
           <nz-option *ngFor="let option of Departments | async" [nzValue]= "option" [nzLabel]= "option.Name"></nz-option> 
          </nz-select>
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
        <nz-form-label>发文日期：</nz-form-label>
        <nz-form-control>
          <nz-date-picker [nzSize]="size" nzPlaceHolder="开始日期"></nz-date-picker>
          <span>~</span>
          <nz-date-picker [nzSize]="size" nzPlaceHolder="结束日期"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
        <button nz-button nzType="primary" nzShape="circle" (click)="onSearch()"><i nz-icon type="search"></i></button>
    </nz-form-item>
  </form>
  
  <br>
  
  <nz-table #basicTable [nzData]="Regulations | async" [nzShowSizeChanger]="true">
      <thead>
      
        <tr>
          <th class="theadbg">序号</th>
          <th class="theadbg">文件名称</th>
          <th class="theadbg">发文部门</th>
          <th class="theadbg">发文日期</th>
          <th class="theadbg">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data index as i">
          <td>{{i+1}}</td>
          <td><a [routerLink]="['/home/regulationdetail']" [queryParams]="{name: data.Name, department: data.Department, date: data.PubDate, status: data.status}">{{data.Name}}</a></td>
          <td>{{data.Department}}</td>
          <td>{{data.PubDate | slice:0:10}}</td>
          <td>
            
            <a [routerLink]="['/home/regulationdetail']" [queryParams]="{name: data.Name, department: data.Department, date: data.PubDate, status: data.status}">
              <button nz-button nzType="primary">查看</button>
            </a>
           
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzType="default" (click)="onDownload(data.Name)">下载</button>
          </td>
        </tr>
      </tbody>
  </nz-table>
  
  
  </nz-layout>