<div class="page_tag">行业政策</div>
<form class="pc_show" nz-form [formGroup]="searchFormGroup" (ngSubmit)="onSearch()">
  <nz-form-item>
    <nz-form-label nzSpan="1">名称</nz-form-label>
    <nz-form-control nzSpan="3">
      <input  type="text" nz-input formControlName="name" placeholder="文件名称">
    </nz-form-control>

    <nz-form-label nzSpan="2">发文部门</nz-form-label>
    <nz-form-control nzSpan="3">
      <input nz-input type="text" formControlName="institution">
    </nz-form-control>

    <nz-form-label nzSpan="2">发文日期</nz-form-label>
    <nz-form-control nzSpan="3">
      <nz-date-picker formControlName="startDate"  nzPlaceHolder="开始日期"></nz-date-picker>
    </nz-form-control>
    <nz-form-control nzSpan="3">      
      <nz-date-picker formControlName="endDate" nzPlaceHolder="结束日期" style="margin-left:5px;"></nz-date-picker>
    </nz-form-control>
    <nz-form-label nzSpan="1">状态</nz-form-label>
    <nz-form-control nzSpan="2">
      <nz-select formControlName="state" nzPlaceHolder="状态">
        <nz-option *ngFor="let option of states" [nzValue]= "option" [nzLabel]= "option"></nz-option> 
      </nz-select>
    </nz-form-control>
    <nz-form-control nzSpan="4">
      <button nz-button type="submit" nzType="primary" nzShape="circle" style="margin-left: 10px;"><i nz-icon type="search"></i></button>
      <button nz-button type="button" nzType="primary" nzShape="circle" style="margin-left: 10px;" (click)="onUpload()" *ngIf="perPol()"><i nz-icon type="upload"></i></button>
    </nz-form-control>
  </nz-form-item>
</form>
<form class="mobile_show" nz-form [formGroup]="fuzzySearchFormGroup"  (ngSubmit)="onFuzzySearch()">
    <nz-form-item>
      <nz-form-control nzSpan="16">
        <input  nz-input formControlName="keys"  placeholder="查询内容">
      </nz-form-control>
      <nz-form-control nzOffset="1" nzSpan="3">
        <button nz-button type="submit" nzType="primary" nzShape="circle"><i nz-icon type="search"></i></button>
      </nz-form-control>
      <nz-form-control nzOffset="1" nzSpan="3" *ngIf="perPol()">
        <button nz-button type="button" nzType="primary" nzShape="circle" (click)="onUpload()" *ngIf="perPol()">
          <i nz-icon type="upload"></i>
        </button>
      </nz-form-control> 
    </nz-form-item>
</form>
<input type="file" ng2FileSelect [uploader]="poliUploader" hidden="true" class="reg-upload" (change)="selectFileChange($event)" />

<nz-table class="pc_show" #basicTable [nzData]="policies" [nzShowSizeChanger]="true">
  <thead>
    <tr>
      <th>序号</th>
      <th>文件名称</th>
      <th>发文部门</th>
      <th style="width:8em;">发文日期</th>
      <th style="width:5em;">状态</th>
      <th style="width:6em;">操作人</th>
      <th style="width:12em;">操作时间</th>
      <th style="width:8em;">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data index as i">
      <td>{{i+1}}</td>
      <td>
        <a  [routerLink]="['../policydetail']" 
            [queryParams]="{name: data.name, institution: data.institution, date: data.issueDate}">
              {{data.name}}
        </a>
      </td>
      <td>{{data.institution}}</td>
      <td>{{data.issueDate | date:'yyyy-MM-dd'}}</td>
      <td>{{data.state}}</td>
      <td>{{data.operatorName}}</td>
      <td>{{data.operateTime}}</td>
      <td>           
        <a (click)="onDownload(data.name)">下载</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a *ngIf="perPol() && data.state == '作废'" (click)="onActive(data)">生效</a>
        <a *ngIf="perPol() && data.state == '有效'" (click)="onAbate(data)">作废</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<div class="mobile_show card_container" *ngFor="let data of policies; let i=index">
  <nz-card
    [nzTitle]="cardTitle(i, data)" 
    [nzExtra]="extraTemplate" 
    [routerLink]="['../policydetail']" 
    [queryParams]="{name: data.name, institution: data.institution, date: data.issueDate}">
    <div nz-row>
      <div class="card_item_title" nz-col nzSpan="8">文件名称：</div>
      <div class="card_item_content" nz-col nzSpan="16">{{data.name}}</div>
    </div>    
    <div nz-row>
      <div class="card_item_title" nz-col nzSpan="8">发文部门：</div>
      <div class="card_item_content" nz-col nzSpan="16">{{data.institution}}</div>
    </div>
    <div nz-row>
      <div class="card_item_title" nz-col nzSpan="8">发文日期：</div>
      <div class="card_item_content" nz-col nzSpan="16">{{data.issueDate | date:'yyyy-MM-dd'}}</div>
    </div>
    <div nz-row>
      <div class="card_item_title" nz-col nzSpan="8">文件状态：</div>
      <div class="card_item_content" nz-col nzSpan="16">{{data.state}}</div>
    </div>
    <div nz-row>
      <div class="card_item_title" nz-col nzSpan="8">操&ensp;作&ensp;人：</div>
      <div class="card_item_content" nz-col nzSpan="16">{{data.operatorName}}</div>
    </div>
    <div nz-row>
      <div class="card_item_title" nz-col nzSpan="8">操作时间：</div>
      <div class="card_item_content" nz-col nzSpan="16">{{data.operateTime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
    </div>
  </nz-card>
  <ng-template #extraTemplate>
    <a (click)="$event.stopPropagation(); onDownload(data.name)">下载</a>
    <nz-divider nzType="vertical"></nz-divider>
    <a *ngIf="perPol() && data.state == '作废'" (click)="$event.stopPropagation(); onActive(data)">生效</a>
    <a *ngIf="perPol() && data.state == '有效'" (click)="$event.stopPropagation(); onAbate(data)">作废</a>
  </ng-template>
</div>

<nz-modal [nzVisible]="bShowUplodModal" nzTitle="上传行业政策" 
      [nzContent]="poliContent" [nzFooter]="modalFooter" (nzOnCancel)="nzOnCancel()">
  <ng-template #poliContent>
    <form nz-form [formGroup]="uploadFormGroup">
      <nz-form-item>
        <nz-form-label [nzSpan]="4">文件名称</nz-form-label>       
        <nz-form-control>
          <nz-form-text style="text-align:center;">{{poliUploader?.queue[0]?.file?.name}}</nz-form-text>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="4" nzRequired>发文部门</nz-form-label>
        <nz-form-control >
          <input nz-input type="text" formControlName="institution" style="width:175px; ">
        </nz-form-control>
      </nz-form-item>
       
      <nz-form-item>  
        <nz-form-label [nzSpan]="4" nzRequired>发文日期</nz-form-label>
        <nz-form-control>
            <nz-date-picker formControlName="issueDate"  nzPlaceHolder="发文日期" ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
   </form>
  </ng-template>

  <ng-template #modalFooter>
      <button nz-button type="button" nzType="default" (click)="nzOnCancel()">取消</button>
      <button nz-button type="submit" nzType="primary" [disabled]="bHasClicked" (click)="nzOnOk()">确定</button>
  </ng-template>
</nz-modal>
  