<div class="page_tag">信息共享</div>
<div nz-row>
    <div nz-col nzXs="18" nzSm="18" nzMd="11" nzLg="12" nzXl="12" nzXXl="12"><b>文件名称：</b>{{info.name}}</div>
    <div class="pc_show" nz-col nzMd="8" nzLg="8" nzXl="8" nzXXl="8"><b>标签：</b>{{info.tag}}</div>
    <div nz-col nzXs="3" nzSm="3" nzMd="2" nzLg="1" nzXl="1" nzXXl="1">   
      <a (click)="onSave()">保存</a>
    </div> 
    <div nz-col nzXs="3" nzSm="3" nzMd="2" nzLg="2" nzXl="2" nzXXl="2"> 
      <a routerLink="../shareinfo">返回</a>
    </div>
  </div>
  <hr>
  <div style="margin-bottom: 30px;" *ngIf="docType=='application/pdf'">
    <pdf-viewer 
      [src]="pdfUrl"  
      [render-text]="true" 
      [fit-to-page]="true"
      style="display: block;">
    </pdf-viewer>
  </div>
  <div style="margin-bottom: 30px;" *ngIf="docType=='image/jpeg'">
    <img [src]="safeUrl" style="width:100%;">
  </div>


  
