<div class="pageTag">信息共享</div>
<div nz-row>
    <div nz-col nzSpan="13"><b>文件名称：</b>{{info.name}}</div>
    <div nz-col nzSpan="7"><b>标签：</b>{{info.tag}}</div>
    <div nz-col nzSpan="2">   
      <button nz-button nzType="default" (click)="onSave()">保存</button>
  
    </div> 
    <div nz-col nzSpan="2"> 
      <a routerLink="../shareinfo"><button nz-button nzType="primary">返回</button></a>
    </div>
  </div>
  
  <hr>
  <div style="margin-bottom: 30px;" *ngIf="docType=='application/pdf'">
    <pdf-viewer [src]="pdfUrl"  [render-text]="true" style="display: block;"></pdf-viewer>
  </div>
  <div style="margin-bottom: 30px;" *ngIf="docType=='image/jpeg'">
    <img [src]="safeUrl" style="width:100%;">
  </div>


  
