<div class="pageTag">信息共享</div>
<div nz-row>
    <div nz-col nzSpan="12"><b>文件名称：</b>{{info.name}}</div>
    <div nz-col nzSpan="6"><b>标签：</b>{{info.tag}}</div>
    <div nz-col nzSpan="2">
      <button nz-button nzType="default" (click)='onPrint()'>打印</button>
    </div>
    <div nz-col nzSpan="2">   
      <button nz-button nzType="default" (click)="onSave()">保存</button>
  
    </div> 
    <div nz-col nzSpan="2"> 
      <button nz-button nzType="primary" (click)="onGoback()">返回</button>
    </div>
  </div>
  
  <hr>
  <div style="margin-bottom: 30px;" *ngIf="docType=='application/pdf'">
    <pdf-viewer [src]="docUrl"  [render-text]="true" style="display: block;"></pdf-viewer>
  </div>
  <div style="margin-bottom: 30px;" *ngIf="docType=='image/jpeg'">
    <img [src]="docUrl" style="width:100%;">
  </div>


  
