<div class="page_tag">已签合同</div>
<form class="pc_show" nz-form [formGroup]="searchFormGroup" (ngSubmit)="onSearch()">
    <nz-form-item> 
      <nz-form-label nzSpan="1">名称</nz-form-label>
      <nz-form-control nzSpan="3">
        <input  nz-input formControlName="name" placeholder="合同名称">
      </nz-form-control>

      <nz-form-label nzSpan="1" >合作方</nz-form-label>
      <nz-form-control nzSpan="3">
        <input  nz-input formControlName="partner"  placeholder="合作方">
      </nz-form-control>

      <nz-form-label nzSpan="1">类型</nz-form-label>
      <nz-form-control nzSpan="2">
        <input  nz-input formControlName="type" placeholder="类型">
      </nz-form-control>
 
      <nz-form-label nzSpan="2">终止日期</nz-form-label>
      <nz-form-control nzSpan="3">
        <nz-date-picker formControlName="startDate" nzPlaceHolder="日期范围开始"></nz-date-picker>
      </nz-form-control>  
      <nz-form-control nzSpan="3">       
        <nz-date-picker formControlName="endDate"  nzPlaceHolder="日期范围结束" style="margin-left:10px;"></nz-date-picker>
      </nz-form-control>

      <nz-form-control nzSpan="3">
        <button nz-button type="submit" nzType="primary" nzShape="circle" style="margin-left:10px;"><i nz-icon type="search"></i></button>
        <button nz-button type="button" nzType="primary" nzShape="circle" style="margin-left:10px;" (click)="onUpload()"  *ngIf='perCw()'><i nz-icon type="upload"></i></button>
     </nz-form-control>
    </nz-form-item>
</form>
<form class="mobile_show" nz-form [formGroup]="fuzzySearchFormGroup" (ngSubmit)="onFuzzySearch()">
  <nz-form-item>
    <nz-form-control nzSpan="16">
      <input  nz-input formControlName="keys"  placeholder="查询内容">
    </nz-form-control>
    <nz-form-control nzOffset="1" nzSpan="3">
      <button nz-button type="submit" nzType="primary" nzShape="circle"><i nz-icon type="search"></i></button>
    </nz-form-control>
    <nz-form-control nzOffset="1" nzSpan="3">
      <button nz-button type="button" nzType="primary" nzShape="circle" (click)="onUpload()" *ngIf='perCw()'>
        <i nz-icon type="upload"></i>
      </button>
    </nz-form-control> 
  </nz-form-item>  
</form>
<input type="file" ng2FileSelect [uploader]="uploader" hidden="true" class="reg-upload" (change)="selectFileChange($event)" />
 
    
<nz-table class="pc_show" #basicTable [nzData]="contracts" [nzShowSizeChanger]="true">
   <thead>
    <tr>
      <th>序号</th>
      <th>合同名称</th>
      <th>合作方</th>
      <th>合同类型</th>
      <th>合同摘要</th>
      <th>开始日期</th> 
      <th>终止日期</th> 
      <th style="width: 5em;">自动续期</th>          
      <th>操作人</th>
      <th style="width: 12em;">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data index as i">
      <td>{{i+1}}</td>
      <td><a [routerLink]="['../contractdetail']" 
              [queryParams]="{name: data.name}">
            {{data.name}}
          </a>
        </td>
      <td>
        <ng-container  *ngIf='!editCache[data.name].edit'>
          {{data.partner}}
        </ng-container>
        <ng-container  *ngIf='editCache[data.name].edit'>
          <input type="text" nz-input [(ngModel)]="editCache[data.name].data.partner">
        </ng-container>
      </td>
      <td>
        <ng-container  *ngIf='!editCache[data.name].edit'>
          {{data.type}}
        </ng-container>
        <ng-container  *ngIf='editCache[data.name].edit'>
          <input type="text" nz-input [(ngModel)]="editCache[data.name].data.type">
        </ng-container>
      </td>
      <td>
        <ng-container  *ngIf='!editCache[data.name].edit'>
          {{data.digest}}
        </ng-container>
        <ng-container  *ngIf='editCache[data.name].edit'>
          <input type="text" nz-input [(ngModel)]="editCache[data.name].data.digest">
        </ng-container>
      </td>
      <td>
        <ng-container  *ngIf='!editCache[data.name].edit'>
          {{data.start | date:'yyyy-MM-dd'}}
        </ng-container>
        <ng-container  *ngIf='editCache[data.name].edit'>
          <nz-date-picker [(ngModel)]="editCache[data.name].data.start" nzAllowClear='false'></nz-date-picker>
        </ng-container>
      </td>
      <td>
        <ng-container  *ngIf='!editCache[data.name].edit'>
          {{data.end | date:'yyyy-MM-dd'}}
        </ng-container>
        <ng-container  *ngIf='editCache[data.name].edit'>
          <nz-date-picker [(ngModel)]="editCache[data.name].data.end" nzAllowClear='false'></nz-date-picker>
        </ng-container>
      </td>
      <td>
        <ng-container  *ngIf='!editCache[data.name].edit'>
          {{data.autoRenewal==0? "否": "是"}}
        </ng-container>        
        <ng-container  *ngIf='editCache[data.name].edit'>
          <nz-select [(ngModel)]="editCache[data.name].data.autoRenewal">
            <nz-option [nzValue]= "0" nzLabel= "否"></nz-option>            
            <nz-option [nzValue]= "1" nzLabel= "是"></nz-option> 
          </nz-select>
        </ng-container>
      </td>
      <td>{{data.operatorName}}</td>
      <td>
        <ng-container *ngIf='!editCache[data.name].edit'>
          <a (click)="onDownload(data)">下载</a>
          <nz-divider nzType="vertical"  *ngIf='perCw()'></nz-divider>
          <a (click)="onDelete(data)" *ngIf='perCw()'>删除</a>
          <nz-divider nzType="vertical"  *ngIf='perCw()'></nz-divider>
          <a (click)="onEdit(data)" *ngIf='perCw()'>修改</a>
        </ng-container>
        <ng-container  *ngIf='editCache[data.name].edit'>
          <a (click)="onFinishEdit(data)">确定</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="onCancelEdit(data)">取消</a>
        </ng-container>
      </td>
    </tr>
  </tbody>
</nz-table>

<div class="mobile_show" *ngFor="let data of contracts; let i=index" 
    style="margin-bottom: 10px; background: #ECECEC;">
    <nz-card  style="width:100%;" 
      [nzTitle]="cardTitle(i, data)" 
      [nzExtra]="extraTemplate" 
      [routerLink]="['../contractdetail']" 
      [queryParams]="{name: data.name}">
      <p><strong>合 作 方：</strong>{{data.partner}}</p>
      <p><strong>合同类型：</strong>{{data.type}}</p>      
      <p><strong>合同摘要：</strong>{{data.digest}}</p>
      <p><strong>开始日期：</strong>{{data.start | date:'yyyy-MM-dd'}}</p>
      <p><strong>终止日期：</strong>{{data.end | date:'yyyy-MM-dd'}}</p>
      <p><strong>自动续期：</strong>{{data.autoRenewal==0? "否": "是"}}</p>
      <p><strong>操 作 人：</strong>{{data.operatorName}}</p>
    </nz-card>  
    <ng-template #extraTemplate>
      <a (click)="$event.stopPropagation(); onDownload(data)">下载</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="$event.stopPropagation(); onDelete(data)" *ngIf='perCw()'>删除</a>
    </ng-template>
</div>

<nz-modal [nzVisible]="bShowUplodModal" nzTitle="上传已签合同" 
      [nzContent]="pdocContent" [nzFooter]="modalFooter" (nzOnCancel)="nzOnCancel()">
  <ng-template #pdocContent>
    <form nz-form [formGroup]="uploadFormGroup">
      <nz-form-item>
        <nz-form-label [nzSpan]="4">名称</nz-form-label>       
        <nz-form-control>
<!---          <nz-form-text style="text-align:center;">{{uploader?.queue[0]?.file?.name}}</nz-form-text>-->
          <a (click)="review()">{{uploader?.queue[0]?.file?.name}}</a>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="4">合作方</nz-form-label>
        <nz-form-control  nzSpan="17">
          <input nz-input type="text" formControlName="partner">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <nz-form-label [nzSpan]="4">合同类型</nz-form-label>
          <nz-form-control  nzSpan="17">
            <input nz-input type="text" formControlName="type">
          </nz-form-control>
        </nz-form-item>       
        <nz-form-item>
            <nz-form-label [nzSpan]="4">摘要</nz-form-label>
            <nz-form-control nzSpan="17">
              <input nz-input type="text" formControlName="digest">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>    
          <nz-form-label nzSpan="4" nzRequired>有效期</nz-form-label>
          <nz-form-control nzSpan="8">
            <nz-date-picker formControlName="start" nzPlaceHolder="开始日期"></nz-date-picker>
          </nz-form-control>  
          <nz-form-control nzOffset="1" nzSpan="8">       
            <nz-date-picker formControlName="end"  nzPlaceHolder="终止日期"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>    
            <nz-form-label nzSpan="4">自动续期</nz-form-label>
            <nz-form-control>
            <nz-radio-group formControlName="autoRenewal" nzName="stateradiogroup" > 
                <label nz-radio nzValue="1">是</label>
                <label nz-radio nzValue="0">否</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>       
    </form>
  </ng-template>

  <ng-template #modalFooter>
      <button nz-button type="button" nzType="default" (click)="nzOnCancel()">取消</button>
      <button nz-button type="submit" nzType="primary" [disabled]="bHasClicked" (click)="nzOnOk()">确定</button>
  </ng-template>
</nz-modal>
    
    
  
    
  
