@media screen and (min-width: 769px){
    body{
        --sc_size: 'lg';
    }    
    .page_tag{
        margin: -60px 0 20px -24px;
        background-color: #fa8c35;
        color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 36px;
        width: 150px;
        padding-top: 8px;
        text-align: center;
        font-size: 1.2em;
    }
    .pc_show{
        display: inline;
    }
    .mobile_show{
        display: none;
    }
    .main_view{
        padding: 50px 30px 30px 30px;       
    }
}
@media screen and (max-width: 768px){
    body{
        --sc_size: 'sm';
    }
 
    .page_tag{
        margin: -50px 0 10px -24px;
        background-color: #fa8c35;
        color: white;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        height: 26px;
        width: 120px;
        padding-top: 3px;
        text-align: center;
    }    
    .pc_show{
        display: none;
    }
    .mobile_show{
        display: block;

    }
    .main_view{
        padding: 30px 0px 0px 0px;       
    }
}

.upload{
    margin-top:4px;
}