  
<nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <ul nz-menu [nzMode]="'inline'" >
        <li nz-menu-item><a href="/portal/home/regulation"><i nz-icon type="profile" theme="twotone"></i>规章制度</a></li>
        <li nz-menu-item><a href="/portal/home/summary"><i nz-icon type="file-pdf" theme="twotone"></i>会议纪要</a></li>
        <li nz-menu-item><a href="/portal/home/partnerdoc"><i nz-icon type="folder-open" theme="twotone"></i>伙伴资料</a></li>
        <li nz-menu-item><a href="/portal/home/policy"><i nz-icon type="database" theme="twotone"></i>行业政策</a></li>
        <li nz-menu-item><a href="/portal/home/contract"><i nz-icon type="copy" theme="twotone"></i>合同模版</a></li>
      </ul>
    </nz-sider>

    <nz-layout style="padding: 50px 30px 30px 30px;">
      <nz-content style="background:#fff; padding: 24px; min-height: 500px;">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>

</nz-layout>
