  
<nz-layout>
    <nz-sider [nzWidth]="150" class="pc_show" style="background:#fff">
      <ul nz-menu [nzMode]="'inline'" >
        <li nz-menu-item><a routerLink="./shareinfo"><i nz-icon type="message" theme="twotone"></i>信息共享</a></li>
        <li nz-menu-item><a routerLink="./regulation"><i nz-icon type="profile" theme="twotone"></i>规章制度</a></li>
        <li nz-menu-item><a routerLink="./summary"><i nz-icon type="file-pdf" theme="twotone"></i>会议纪要</a></li>
        <li nz-menu-item><a routerLink="./partnerdoc"><i nz-icon type="folder-open" theme="twotone"></i>伙伴资料</a></li>
        <li nz-menu-item><a routerLink="./policy"><i nz-icon type="database" theme="twotone"></i>行业政策</a></li>
        <li nz-menu-item><a routerLink="./contracttemplate"><i nz-icon type="copy" theme="twotone"></i>合同模版</a></li>
        <li nz-menu-item *ngIf="perCR || perCW"><a routerLink="./contract"><i nz-icon type="copy" theme="twotone"></i>已签合同</a></li>
      </ul>
    </nz-sider>

    <nz-layout class="main_view">
      <nz-content style="background:#fff; padding: 24px; min-height: 500px;">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>

</nz-layout>
