
  <div nz-row>
    <div nz-col nzSpan="23" >
      <form nz-form [formGroup]="regulationMgtFormGroup" [nzLayout] ="'inline'" (ngSubmit)="onSearch()">
        <nz-form-item>
          <nz-form-label>发文部门</nz-form-label> 
          <nz-select [formControlName]="'department'" style="width: 120px;"  nzAllowClear nzPlaceHolder="请选择" >
            <nz-option *ngFor="let option of departments" [nzValue]= "option" [nzLabel]= "option"></nz-option> 
          </nz-select>
        </nz-form-item>

        <nz-form-item> 
          <nz-form-label>文件名称</nz-form-label>
          <nz-form-control>
            <input  nz-input [formControlName]="'fileName'" style="width:200px;" placeholder="文件名称">
          </nz-form-control>
        </nz-form-item>
                      
        <nz-form-item>
          <nz-form-label>发文日期</nz-form-label>
          <nz-form-control>
            <nz-date-picker  nzPlaceHolder="开始日期" [formControlName]="'startDate'" [nzFormat]="'yyyy-MM-dd'" style="width:120px;"></nz-date-picker>
            <span>~</span>
            <nz-date-picker nzPlaceHolder="'结束日期'" [formControlName]="'endDate'" [nzFormat]="'yyyy-MM-dd'" style="width:120px;" ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>状态</nz-form-label> 
          <nz-select [formControlName]="'state'" style="width: 60px;"  nzAllowClear nzPlaceHolder="" >
            <nz-option *ngFor="let option of states" [nzValue]= "option" [nzLabel]= "option"></nz-option> 
          </nz-select>
        </nz-form-item>

        <nz-form-item>
          <button nz-button nzType="primary" nzShape="circle"><i nz-icon type="search"></i></button>
        </nz-form-item>
      </form>
    </div>
    <div nz-col nzSpan="1">
      <button nz-button nzType="primary" nzShape="circle" style="margin-left: 5px; float: left;" (click)="onUpload()"><i nz-icon type="upload"></i></button>
      <input type="file" ng2FileSelect [uploader]="uploader" class="reg-upload"/>
    </div>
  </div>
<br>  
  
  <nz-table #basicTable [nzData]="regMgts" [nzShowSizeChanger]="true">
      <thead>
      
        <tr>
          <th class="theadbg">序号</th>
          <th class="theadbg">文件名称</th>
          <th class="theadbg">发文部门</th>
          <th class="theadbg">发文日期</th>
          <th class="theadbg">状态</th>
          <th class="theadbg">操作人</th>
          <th class="theadbg">操作时间</th>
          <th class="theadbg">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data index as i">
          <td>{{i+1}}</td>
          <td><a [routerLink]="['/console/regulationdetail']" [queryParams]="{name: data.Name, department: data.Department, date: data.PubDate}">{{data.Name}}</a></td>
          <td>{{data.Department}}</td>
          <td>{{data.PubDate | slice: 0: 10 }}</td>
          <td>{{data.state}}</td>
          <td>{{data.operateUser}}</td>
          <td>{{data.operateTime}}</td>
          <td>
            <a [routerLink]="['/console/regulationdetail']" [queryParams]="{name: data.Name, department: data.Department, date: data.PubDate}"><button nz-button>查看</button></a>
            <nz-divider nzType="vertical"></nz-divider>
            <a >作废</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>删除</a>
         </td>
        </tr>
      </tbody>
  </nz-table>
  

  
